/*DEFINING MAIN VARIABLES FOR STYLES*/

:root {

    /*COLOR PALETTE*/

    --marineBlue: #072ac8;
    --skyBlue: #43D2FF;
    --pastelBlue: #a2d6f9;
    --lightBlue: #d1edff;

    --darkGray: #292e47;
    --mainGray: #6b708d;
    --clearGray: #f2f4fc;

    --blueGray: #ecf7ff;

    --mainYellow: #ffc600;

}



/*DEFINING BODY GENERIC STYLES*/

body{

    font-family: "Roboto", sans-serif;
    background-color: #F4F6FC;
    box-sizing: border-box;
    max-width: 1350px;
    text-align: left;
    color: #6B708D;
    padding-left: 100px;
    padding-right: 100px;
    margin: 0 auto;

}

/*DEFINING HEADER GENERIC STYLES*/

header {

    height: 700px;

}

/*DEFINING MENU AND NAVIGATION STYLES*/

nav{

    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #F4F6FC;


}

nav ul li{

    display: inline-block;
    margin-left: 50px;
    text-decoration: none;
    list-style: none;
    color: var(--mainGray);

}

nav ul li:last-of-type{

    margin-right: 0;

}

nav ul li a:visited{

    color: var(--mainGray);
    font-weight: bold;

}

nav ul li a:hover{

    color: var(--marineBlue);
    font-weight: bold;

}


a{

    text-decoration: none;

}



#cta-menu a:visited {
    color: white;
    text-decoration: none;
}

#cta-menu a:hover {
    color: var(--marineBlue);
    background-color: var(--mainYellow);
    font-weight: bold;
    text-decoration: none;
}



#menu{

    display: block;

}

#cta-menu{

    display: block;

}

#hamburguer-menu-open{

    display: none ;

}

/*DEFINING MAIN CONTENT IN HEADER STYLES*/

h1{

    font-size: 60px;
    font-weight: 700;
    color: #292E47;
    margin-bottom: 20px;

}

header div div a:first-of-type{ 
    
    margin-right: 50px;

}

#menu{

    display: block;

}

#cta-menu{

    display: block;

}

#hamburger-menu-open{

    display: none;

}

#hamburger-menu-closed{

    display: none;

}

h1{

    font-size: 60px;
    font-weight: 700;
    color: #292E47;
    margin-bottom: 20px;

}

/*DEFINING MAIN HOME CONTENT INSIDE HEADER*/

#home-content {

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 700px;
    background-image: url(/img/hero-section/card-1.png), url(/img/hero-section/card-2.png) , url(/img/hero-section/hero-image.png);
    background-repeat: no-repeat;
    background-size: 300px, 300px, 500px;
    background-position:  65% 30%, right bottom, bottom right;

}

#home-content p{

    max-width: 400px;
    font-size: 20px;

}


#home-content div {

    max-width: 530px;

}

#home-content h1 {

    max-width: 450px;

}

#home-content a {

    font-size: 17px;

}

/*DEFINING A CONTAINER BOX FOR THE CTA BUTTONS IN THE HEADER*/


#home-cta {

    display: inline;
    margin-top: 50px;

}

#home-cta a:hover{

    color: var(--marineBlue);
    font-weight: bold;

}

/*DEFINING A HORIZONTAL GRID OF CONSECUTIVE IMAGES FROM OUR CLIENTS*/

#clients-bar {

    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    margin-bottom: 150px;
    z-index: -200;

}

#clients-bar {

    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);

}

/*DEFINING THE CONTAINER BOX OF OUR RECENT PROJECTS*/

#recent-projects {

    margin-top: 150px;
    margin-bottom: 150px;

}

#recent-projects div{

    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: nowrap;
    gap: 40px;

}

#recent-projects h2{

    font-size: 50px;
    color: #292E47;

}

#recent-projects p {

    font-size: 17px

}

#recent-projects a {

    font-size: 17px

}

/*WE DISTRIBUTE THE 3 CARDS OF OUR MAIN PROJECTS USING SPACE AROUND IN THE FLEX CONTAINER*/


#recent-projects .project-card{

    background-color: white;
    display: inline-block;
    align-items: center;
    height: auto;
    gap: 50px;
    box-shadow: 0px 38,7px 77,5px 0px rgba(0, 0, 0, 0.1);
    
}

#recent-projects h3{

    color: #292E47;
    font-size: 40px;

}

/*WE USE NTH-OF-TYPE TO GO ACROSS EACH DIV WITHOUT CREATING UNNCESSESARY CLASSES OR ID*/

#recent-projects .project-card div:nth-of-type(1) {

    background-color: black;
    height: 200px;  
    background-repeat: none;
    background-size: cover;
}


#recent-projects .project-card div:nth-of-type(2) {

    display: inline-block; 
}

#recent-projects .project-card div:nth-of-type(2) h3{

    padding-left: 30px;
    font-size: 24px;
   
}

#recent-projects .project-card div:nth-of-type(2) p{

    padding-left: 30px;
    color: #292E47;
   
}

#recent-projects .project-card div:nth-of-type(3) a{

    color: var(--marineBlue);
    font-weight: bold;
    margin-top: 50px;

    
}

#recent-projects .project-card div:nth-of-type(3) a{

    padding-left: 30px;
    padding-bottom: 30px;
   
}

/*THIS SECTION NEEDS 5 DIFFERENT BACKGROUNDS, HERE WE SET THEM UP */

#testimonial-section {

    background-color: #292E47;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(/img/testimonial-section/memoji-1.png) , url(/img/testimonial-section/memoji-2.png) , url(/img/testimonial-section/memoji-3.png) , url(/img/testimonial-section/memoji-4.png) ,  url(/img/testimonial-section/orbit.png) ;
    background-position: top left, top right, bottom left, bottom right;
    background-repeat: no-repeat;
    background-size: 150px, 150px, 150px , 150px , 100%;

}

/*NOW WE START WORKING OUT THE ELEMENTS INSIDE THE DIV CONTAINER*/

#testimonial-section h2 {

    color: white;
    font-size: 40px;

}

#testimonial-section blockquote{

    color: var(--mainYellow);
    font-size: 24px;
    font-weight: bold;
    text-align: center;

}

/*HERE WE CREATE A DIV TO CONTAIN THE PROFILE PICTURE TO MAKE IT ROUND EFFECTIVELY*/

#testimonial-section img {

    width: 100px;

}

#testimonial-section div {

    display: flex;
    flex-direction: row;
    margin-top: 20px;

}

#testimonial-section div div:nth-of-type(1) {

    background-image: url(/img/testimonial-section/profile.png);
    background-size: 150px;
    background-position: center;
    border-radius: 100px;
    width: 100px;
    height: 100px;
    margin-right: 25px;
    background-repeat: no-repeat;

}

#testimonial-section div div:nth-of-type(2) {

    display: flex;
    flex-direction: column;
    gap: 0;
    height: 150px;

}

#testimonial-section div div:nth-of-type(2) h4{

    margin-bottom: 0;
    color: var(--pastelBlue);
    font-weight: 500;

    
}

#testimonial-section div div:nth-of-type(2) p{

    margin-top: 0;
    color: white;

}

#our-services {

    margin-top: 150px;
    margin-bottom: 150px;

}

#our-services div{

    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: nowrap;
    gap: 40px;

}

#our-services h2{

    font-size: 50px;
    color: #292E47;

}

#our-services p{

    font-size: 17px;

}

#our-services a{

    font-size: 17px;

}

#our-services .service-card{

    background-color: white;
    display: inline-block;
    align-items: center;
    height: auto;
    gap: 50px;
    
}

#our-services h3{

    color: #292E47;
    font-size: 24px;

}

#our-services .service-card div:nth-of-type(1) {

    height: 120px;
    display: flex;
    
     
}

#our-services .service-card:nth-child(1) div:nth-of-type(1) div{

    background-image: url(/img/services-section/icons/1.svg);
    border-radius: 200px;
    background-size: 50px;
    background-color: #ECF7FF;
    background-repeat: no-repeat;
    width: 75px;
    height: 75px;
    background-position: center;
    margin-left: 30px;
    margin-top: 30px;
     
}

#our-services .service-card:nth-child(2) div:nth-of-type(1) div{

    background-image: url(/img/services-section/icons/2.svg);
    border-radius: 200px;
    background-size: 50px;
    background-color: #ECF7FF;
    background-repeat: no-repeat;
    width: 75px;
    height: 75px;
    background-position: center;
    margin-left: 30px;
    margin-top: 30px;
     
}

#our-services .service-card:nth-child(3) div:nth-of-type(1) div{

    background-image: url(/img/services-section/icons/3.svg);
    border-radius: 200px;
    background-size: 50px;
    background-color: #ECF7FF;
    background-repeat: no-repeat;
    width: 75px;
    height: 75px;
    background-position: center;
    margin-left: 30px;
    margin-top: 30px;
     
}

#our-services .service-card div:nth-of-type(2) {

    display: inline-block; 
}

#our-services .service-card div:nth-of-type(2) h3{

    padding-left: 30px;
    font-size: 24px;
    padding-right: 30px;
   
}

#our-services .service-card div:nth-of-type(2) p{

    padding-left: 30px;
    color: #292E47;
    padding-right: 30px;
   
}

#our-services .service-card div:nth-of-type(3) a{

    color: var(--marineBlue);
    font-weight: bold;
    margin-top: 50px;
 
}

#our-services .service-card div:nth-of-type(3) a{

    padding-left: 30px;
    padding-bottom: 30px;
   
}

#contact-page{

    padding-top: 100px;

}

#contact-page h1{

    margin-bottom: 50px;

}

#contact-section {

    background-color: var(--mainYellow);
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

#contact-section h2 {

    color: black;
    font-size: 40px;
    margin-bottom: 0;

}

#contact-section p {

    color: black;
    font-size: 20px;
}

#contact-section form {

    margin-top: 20px;

}

#contact-section input {

    border-style: none;
    height: 80px;
    width: 390px;
    margin-right: 5px;
}

#contact-section input[type=email] {

    background-position: 20px 25px;
    background-repeat: no-repeat;
    background-image: url(/img/newsletter/icon/mail.svg);
    padding-left: 60px;
    font-size: 17px;

}

#contact-section button {

    background-color: var(--marineBlue);
    color: white;
    border-style: none;
    height: 80px;
    width: 195px;
    margin-left: 5px;
    font-size: 17px;

}

#contact-section button:hover {

    background-color: var(--mainGray);
}

#contact-form{

    display: flex;
    flex-direction: column;

}

#contact-form div{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;

}

#contact-form div div{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;

}

#contact-form input {

    border: 0;
    height: 50px;
    margin-bottom: 20px;
    background-color: #E7E9F1;

}

#contact-form label {
    
    margin-bottom: 20px;

}

#contact-form div div label {

    margin-bottom: 0;

}



#contact-form textarea {

    border: 0;
    height: 150px;
    margin-bottom: 20px;
    background-color: #E7E9F1;

}

#contact-form button{

    border: 0;
    background-color: var(--marineBlue);
    color: white;
    height: 50px;
    font-size: 17px;

}

#main-project {
    
    padding-top: 150px;
    margin-bottom: 100px;

}

#main-project div:nth-of-type(1) {

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#main-project div:nth-of-type(2) {


    background-size: cover;

}

#main-project img{

    height: 400px;
    width: 100%;

}

#main-project h1 {

    margin-top: 0;
}

footer {

    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    padding-bottom: 40px;
    
}

footer ul {

    list-style: none;
    max-width: 400px;
    text-align: left;

}

footer ul li {

    color: var(--mainGray);
    font-size: 17px;
    display: inline-block;
    margin-right: 50px;
    margin-bottom: 50px;

}

footer ul li div{

    display: flex;
    flex-direction: column;

}


footer p {

    color: var(--mainGray);
    font-size: 17px;

}

footer a:hover {

    color: var(--marineBlue);
    font-weight: bold;

}

.main-button{

    background-color: var(--marineBlue);
    color:white;
    padding: 20px;

}

.main-button:hover {

    background-color: var(--mainYellow);

}


/*----------------------------------------------------------------*/
/*-------------------  MEDIA QUERIES  ----------------------------*/
/*----------------------------------------------------------------*/


/*----------------------  579px DEVICES  -------------------------*/

@media (max-width: 599px) {
    
    body{

        font-family: "Roboto", sans-serif;
        background-color: #F4F6FC;
        box-sizing: border-box;
        max-width: 1440px;
        text-align: left;
        color: #6B708D;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 0px;
        margin: 0 auto;
    
    }
    
    /*DEFINING HEADER GENERIC STYLES*/
    
    header {
    
        height: 600px;
    
    }
    
    /*DEFINING MENU AND NAVIGATION STYLES*/
    
    nav{
    
        display: flex;
        justify-content: space-between;
        position: fixed;
        padding-top: 20px;
        padding-right: 45px;
        padding-left: 45px;
        top: 0;

    
    }

    nav img {

        height: 30px;

    }

    
    nav ul li{
    
        display: inline-block;
        margin-left: 50px;
        text-decoration: none;
        list-style: none;
        color: var(--mainGray);
    
    }
    
    nav ul li:last-of-type{
    
        margin-right: 0;
    
    }
    
    nav ul li:hover{
    
        color: var(--marineBlue);
        font-weight: bold;
    
    }
    
    /*DEFINING MAIN CONTENT IN HEADER STYLES*/
    

    
    header div div a:first-of-type{ 
        
        margin-right: 50px;
    
    }

    #menu{

        display: none;

    }

    #cta-menu{

        display: none;

    }

    #hamburguer-menu-closed{

        display: block;
        background-image: url(/img/hero-section/hamburger-menu.png);
        background-repeat: no-repeat;
        background-size: 30px;
        background-position: right;
        width: 30px;
        height: 30px;
        margin-top: 0;

    }

    #hamburguer-menu-open{

        display: none;
        z-index: 9999;
        flex-direction: column;
        line-height: 40px;
        background-image: url(/img/hero-section/hamburguer-closed.svg);
        background-size: 30px;
        background-position: top right;
        background-repeat: no-repeat;

    }

    #hamburguer-menu-open li:first-child{

        margin-top: 50px;

    }
    
    h1{
    
        font-size: 40px;
        font-weight: 700;
        color: #292E47;
        margin-bottom: 20px;
    
    }
    
    /*DEFINING MAIN HOME CONTENT INSIDE HEADER*/
    
    #home-content {
    
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: flex-end;
        height: 600px;
        background-image: url(/img/hero-section/card-1.png), url(/img/hero-section/card-2.png) , url(/img/hero-section/hero-image.png);
        background-repeat: no-repeat;
        background-size: 170px, 170px, 250px;
        background-position: 0% 0%, 100% 35%, top center;
    }
    
    #home-content p{
    
        
        font-size: 16px;
    
    }
    
    
    #home-content div {
    
       
    
    }
    
    #home-content h1 {
    
        
    
    }


    /*DEFINING A CONTAINER BOX FOR THE CTA BUTTONS IN THE HEADER*/
    
    
    #home-cta {
    
        display: inline;
        margin-top: 50px;
    
    }
    
    #home-cta a:hover{
    
        color: var(--marineBlue);
        font-weight: bold;
    
    }

    #contact-page h1 {
        text-align: center;

    }
    
    /*DEFINING A HORIZONTAL GRID OF CONSECUTIVE IMAGES FROM OUR CLIENTS*/
    
    #clients-bar {
    
        display: flex;
        flex-wrap: wrap;
        margin-top: 150px;
        margin-bottom: 50px;
        align-items: center;
        justify-content: space-around;
        gap: 20px;
        z-index: -200;
    
    }
    
    #clients-bar img{
    
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
        width: 125px;
        margin-bottom: 50px;
    
    }
    
    /*DEFINING THE CONTAINER BOX OF OUR RECENT PROJECTS*/
    
    #recent-projects {
    
      margin-top: 0px;
        margin-bottom: 100px;
        text-align: center;
    
    }
    
    #recent-projects div{
    
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
        flex-wrap: nowrap;
        gap: 40px;
    
    }
    
    #recent-projects h2{
    
        font-size: 30px;
        color: #292E47;
    
    }
    
    /*WE DISTRIBUTE THE 3 CARDS OF OUR MAIN PROJECTS USING SPACE AROUND IN THE FLEX CONTAINER*/
    
    
    #recent-projects .project-card{
    
        background-color: white;
        display: inline-block;
        align-items: center;
        height: auto;
        gap: 50px;
        box-shadow: 0px 38,7px 77,5px 0px rgba(0, 0, 0, 0.1);
        
    }
    
    #recent-projects h3{
    
        color: #292E47;
        font-size: 40px;
    
    }
    
    /*WE USE NTH-OF-TYPE TO GO ACROSS EACH DIV WITHOUT CREATING UNNCESSESARY CLASSES OR ID*/
    
    #recent-projects .project-card div:nth-of-type(1) {
    
        background-color: black;
        height: 200px;  
    }
    
    
    #recent-projects .project-card div:nth-of-type(2) {
    
        display: inline-block; 
    }
    
    #recent-projects .project-card div:nth-of-type(2) h3{
    
        padding-left: 0px;
        font-size: 24px;
       
    }
    
    #recent-projects .project-card div:nth-of-type(2) p{
    
        padding-left: 0px;
        color: #292E47;
       
    }
    
    #recent-projects .project-card div:nth-of-type(3) a{
    
        color: var(--marineBlue);
        font-weight: bold;
        margin-top: 50px;
    
        
    }
    
    #recent-projects .project-card div:nth-of-type(3) a{
    
        padding-left: 0px;
        padding-bottom: 30px;
       
    }
    
    /*THIS SECTION NEEDS 5 DIFFERENT BACKGROUNDS, HERE WE SET THEM UP */
    
    #testimonial-section {
    
        background-color: #292E47;
        height: 600px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: url(/img/testimonial-section/memoji-1.png) , url(/img/testimonial-section/memoji-2.png) , url(/img/testimonial-section/memoji-3.png) , url(/img/testimonial-section/memoji-4.png) ,  url(/img/testimonial-section/orbit.png) ;
        background-position: top left, top right, bottom left, bottom right;
        background-repeat: no-repeat;
        background-size: 100px, 100px, 100px , 100px , 100%;
    
    }
    
    /*NOW WE START WORKING OUT THE ELEMENTS INSIDE THE DIV CONTAINER*/
    
    #testimonial-section h2 {
    
        color: white;
        font-size:28px;
    
    }
    
    #testimonial-section blockquote{
    
        color: var(--mainYellow);
        font-size: 17px;
        font-weight: bold;
        text-align: center;
        margin: 0px;
    
    }
    
    /*HERE WE CREATE A DIV TO CONTAIN THE PROFILE PICTURE TO MAKE IT ROUND EFFECTIVELY*/
    
    #testimonial-section img {
    
        width: 100px;
    
    }
    
    #testimonial-section div {
    
        display: flex;
        flex-direction: row;
        margin-top: 20px;
    
    }
    
    #testimonial-section div div:nth-of-type(1) {
    
        background-image: url(/img/testimonial-section/profile.png);
        background-size: 200px;
        background-position: center;
        border-radius: 100px;
        width: 70px;
        height: 70px;
        margin-right: 25px;
        background-repeat: no-repeat;

    
    }
    
    #testimonial-section div div:nth-of-type(2) {
    
        display: flex;
        flex-direction: column;
        gap: 0;
        height: 150px;
    
    }
    
    #testimonial-section div div:nth-of-type(2) h4{
    
        margin-bottom: 0;
        color: var(--pastelBlue);
        font-weight: 500;
        font-size: 17px;
    
        
    }
    
    #testimonial-section div div:nth-of-type(2) p{
    
        margin-top: 0;
        color: white;
        font-size: 17px;
    
    }
    
    #our-services {
    
        margin-top: 100px;
        margin-bottom: 150px;
    
    }
    
    #our-services div{
    
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-wrap: nowrap;
        gap: 40px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    
    }
    
    #our-services h2{
    
        font-size: 30px;
        color: #292E47;
        text-align: center;
    
    }
    
    #our-services .service-card{
    
        background-color: white;
        display: inline-block;
        align-items: center;
        height: auto;
        gap: 50px;
        
    }
    
    #our-services h3{
    
        color: #292E47;
        font-size: 24px;
    
    }
    
    #our-services .service-card div:nth-of-type(1) {
    
        height: 120px;
        display: flex;
        
         
    }
    
    #our-services .service-card:nth-child(1) div:nth-of-type(1) div{
    
        background-image: url(/img/services-section/icons/1.svg);
        border-radius: 200px;
        background-size: 50px;
        background-color: #ECF7FF;
        background-repeat: no-repeat;
        width: 75px;
        height: 75px;
        background-position: center;
        margin-left: 30px;
        margin-top: 30px;
         
    }
    
    #our-services .service-card:nth-child(2) div:nth-of-type(1) div{
    
        background-image: url(/img/services-section/icons/2.svg);
        border-radius: 200px;
        background-size: 50px;
        background-color: #ECF7FF;
        background-repeat: no-repeat;
        width: 75px;
        height: 75px;
        background-position: center;
        margin-left: 30px;
        margin-top: 30px;
         
    }
    
    #our-services .service-card:nth-child(3) div:nth-of-type(1) div{
    
        background-image: url(/img/services-section/icons/3.svg);
        border-radius: 200px;
        background-size: 50px;
        background-color: #ECF7FF;
        background-repeat: no-repeat;
        width: 75px;
        height: 75px;
        background-position: center;
        margin-left: 30px;
        margin-top: 30px;
         
    }
    
    #our-services .service-card div:nth-of-type(2) {
    
        display: inline-block; 
    }
    
    #our-services .service-card div:nth-of-type(2) h3{
    
        padding-left: 30px;
        font-size: 24px;
        padding-right: 30px;
       
    }
    
    #our-services .service-card div:nth-of-type(2) p{
    
        padding-left: 30px;
        color: #292E47;
        padding-right: 30px;
       
    }
    
    #our-services .service-card div:nth-of-type(3) a{
    
        color: var(--marineBlue);
        font-weight: bold;
        margin-top: 50px;
     
    }
    
    #our-services .service-card div:nth-of-type(3) a{
    
        padding-left: 0px;
        padding-bottom: 30px;
       
    }
    
    #contact-section {
    
        background-color: var(--mainYellow);
        height: 550px;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    
    }
    
    #contact-section h2 {
    
        color: black;
        font-size: 36px;
        margin-bottom: 0;
    
    }
    
    #contact-section p {
    
        color: black;
        font-size: 20px;
    }
    
    #contact-section form {
    
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 80px;
        padding-right: 80px;
    
    }
    
    #contact-section input {
    
        border-style: none;
        height: 80px;
        width: 100%;
        margin-right: 5px;
        margin-bottom: 40px;
    }
    
    #contact-section input[type=email] {
    
        background-position: 20px 25px;
        background-repeat: no-repeat;
        background-image: url(/img/newsletter/icon/mail.svg);
        padding-left: 60px;
        font-size: 17px;
    
    }
    
    #contact-section button {
    
        background-color: var(--marineBlue);
        color: white;
        border-style: none;
        height: 50px;
        width: 195px;
        margin-left: 5px;
        font-size: 17px;
    
    }
    
    #contact-section button:hover {
    
        background-color: var(--mainGray);
    }

    #main-project div {

        display: flex;
        flex-direction: column;
        gap: 0px;
    
    }

    #main-project div p{

        display: flex;
        flex-direction: column;
        margin-bottom: 0px;
    
    }

    #main-project div p:nth-of-type(2){

        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    
    }
    
    
    footer {
    
        display: flex;
        justify-content: space-around;
        margin-top: 100px;
        flex-direction: column-reverse;
        align-items: center;
        
    }

    footer div{

        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 30px;

    }

    footer ul{

        padding: 0;
        max-width: 100%;
        width: 100%;

    }
    
    footer ul div{
    
        flex-direction: row;
        max-width: 100%;
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: space-around;
        align-items: center;
        display: flex;
        text-align: center;
        gap: 20px;
    
    }
    
    footer ul li {
    
        color: var(--mainGray);
        font-size: 17px;
        padding: 0;
        margin-bottom: 40px;
        text-align: center;
        margin-right: 0px;


    
    }
    
    footer ul li div{
    
        display: flex;
        flex-direction: column;
    
    }

    footer img{

        width: 100px;
        text-align: center;

    }
    
    
    footer p {
    
        color: var(--mainGray);
        font-size: 17px;
    
    }
    
    footer a:hover {
    
        color: var(--marineBlue);
        font-weight: bold;
    
    }
    
    .main-button{
    
        background-color: var(--marineBlue);
        color:white;
        padding: 20px;
    
    }
    
    .main-button:hover {
    
        background-color: var(--mainYellow);
    
    }
    


  }






















































































  @media (min-width:600px) and (max-width: 859px) {
    
    body{

        font-family: "Roboto", sans-serif;
        background-color: #F4F6FC;
        box-sizing: border-box;
        max-width: 1440px;
        text-align: left;
        color: #6B708D;
        padding-left: 60px;
        padding-right: 60px;
        padding-top: 0px;
        margin: 0 auto;
    
    }
    
    /*DEFINING HEADER GENERIC STYLES*/
    
    header {
    
        height: 700px;
    
    }
    
    /*DEFINING MENU AND NAVIGATION STYLES*/
    
    nav{
    
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: 0px;
        top:0;
    
    }

    nav img {

        height: 30px;

    }

    
    nav ul li{
    
        display: inline-block;
        margin-left: 50px;
        text-decoration: none;
        list-style: none;
        color: var(--mainGray);
    
    }
    
    nav ul li:last-of-type{
    
        margin-right: 0;
    
    }
    
    nav ul li:hover{
    
        color: var(--marineBlue);
        font-weight: bold;
    
    }
    
    /*DEFINING MAIN CONTENT IN HEADER STYLES*/
    

    
    header div div a:first-of-type{ 
        
        margin-right: 50px;
    
    }

    #menu{

        display: none;

    }

    #cta-menu{

        display: none;

    }

    #hamburguer-menu-closed{

        display: block;
        background-image: url(/img/hero-section/hamburger-menu.png);
        background-repeat: no-repeat;
        background-size: 35px;
        background-position: right;
        width: 35px;
        height: 35px;
        margin-top: 0;

    }

    #hamburguer-menu-open{

        display: none;
        flex-direction: column;
        background-image: url(/img/hero-section/hamburguer-closed.svg);
        background-size: 35px;
        background-repeat: no-repeat;
        background-color: #F4F6FC;
        background-position:  top right;
        width: auto;

    }

    #hamburguer-menu-open li{

        margin-left: 0px;
        line-height: 40px;

    }

    #hamburguer-menu-open li:first-of-type{

        margin-top: 40px;

    }
    
    h1{
    
        font-size: 40px;
        font-weight: 700;
        color: #292E47;
        margin-bottom: 20px;
    
    }
    
    /*DEFINING MAIN HOME CONTENT INSIDE HEADER*/
    
    #home-content {
    
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: flex-end;
        height: 700px;
        background-image: url(/img/hero-section/card-1.png), url(/img/hero-section/card-2.png) , url(/img/hero-section/hero-image.png);
        background-repeat: no-repeat;
        background-size: 200px, 200px, 350px;
        background-position: 0% 0%, 100% 50%, top center;
    }
    
    #home-content p{
    
        
        font-size: 16px;
    
    }
    
    
    #home-content div {
    
       
    
    }
    
    #home-content h1 {
    
        
    
    }
    
    /*DEFINING A CONTAINER BOX FOR THE CTA BUTTONS IN THE HEADER*/
    
    
    #home-cta {
    
        display: inline;
        margin-top: 50px;
    
    }
    
    #home-cta a:hover{
    
        color: var(--marineBlue);
        font-weight: bold;
    
    }
    
    /*DEFINING A HORIZONTAL GRID OF CONSECUTIVE IMAGES FROM OUR CLIENTS*/
    
    #clients-bar {
    
        display: flex;
        flex-wrap: wrap;
        margin-top: 200px;
        margin-bottom: 100px;
        align-items: center;
        justify-content: space-around;
        gap: 20px;
        z-index: -200;
    
    }
    
    #clients-bar img{
    
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
        width: 125px;
        margin-bottom: 50px;
    
    }
    
    /*DEFINING THE CONTAINER BOX OF OUR RECENT PROJECTS*/
    
    #recent-projects {
    
        margin-top: 0px;
        margin-bottom: 150px;
        text-align: center;
    
    }
    
    #recent-projects div{
    
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
        flex-wrap: nowrap;
        gap: 40px;
    
    }
    
    #recent-projects h2{
    
        font-size: 36px;
        color: #292E47;
    
    }
    
    /*WE DISTRIBUTE THE 3 CARDS OF OUR MAIN PROJECTS USING SPACE AROUND IN THE FLEX CONTAINER*/
    
    
    #recent-projects .project-card{
    
        background-color: white;
        display: inline-block;
        align-items: center;
        height: auto;
        gap: 50px;
        box-shadow: 0px 38,7px 77,5px 0px rgba(0, 0, 0, 0.1);
        
    }
    
    #recent-projects h3{
    
        color: #292E47;
        font-size: 40px;
    
    }
    
    /*WE USE NTH-OF-TYPE TO GO ACROSS EACH DIV WITHOUT CREATING UNNCESSESARY CLASSES OR ID*/
    
    #recent-projects .project-card div:nth-of-type(1) {
    
        background-color: black;
        height: 200px;  
    }
    
    
    #recent-projects .project-card div:nth-of-type(2) {
    
        display: inline-block; 
    }
    
    #recent-projects .project-card div:nth-of-type(2) h3{
    
        padding-left: 0px;
        font-size: 24px;
       
    }
    
    #recent-projects .project-card div:nth-of-type(2) p{
    
        padding-left: 0px;
        color: #292E47;
       
    }
    
    #recent-projects .project-card div:nth-of-type(3) a{
    
        color: var(--marineBlue);
        font-weight: bold;
        margin-top: 50px;
    
        
    }
    
    #recent-projects .project-card div:nth-of-type(3) a{
    
        padding-left: 0px;
        padding-bottom: 30px;
       
    }
    
    /*THIS SECTION NEEDS 5 DIFFERENT BACKGROUNDS, HERE WE SET THEM UP */
    
    #testimonial-section {
    
        background-color: #292E47;
        height: 700px;
        padding-left: 40px;
        padding-right: 40px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: url(/img/testimonial-section/memoji-1.png) , url(/img/testimonial-section/memoji-2.png) , url(/img/testimonial-section/memoji-3.png) , url(/img/testimonial-section/memoji-4.png) ,  url(/img/testimonial-section/orbit.png) ;
        background-position: top left, top right, bottom left, bottom right;
        background-repeat: no-repeat;
        background-size: 150px, 150px, 150px , 150px , 100%;
    
    }
    
    /*NOW WE START WORKING OUT THE ELEMENTS INSIDE THE DIV CONTAINER*/
    
    #testimonial-section h2 {
    
        color: white;
        font-size: 36px;
    
    }
    
    #testimonial-section blockquote{
    
        color: var(--mainYellow);
        font-size: 21px;
        font-weight: bold;
        text-align: center;
        margin: 0px;
    
    }
    
    /*HERE WE CREATE A DIV TO CONTAIN THE PROFILE PICTURE TO MAKE IT ROUND EFFECTIVELY*/
    
    #testimonial-section img {
    
        width: 200px;
    
    }
    
    #testimonial-section div {
    
        display: flex;
        flex-direction: row;
        margin-top: 20px;
    
    }
    
    #testimonial-section div div:nth-of-type(1) {
    
        background-image: url(/img/testimonial-section/profile.png);
        background-size: 200px;
        background-position: center;
        border-radius: 100px;
        width: 150px;
        height: 150px;
        margin-right: 25px;
        background-repeat: no-repeat;

    
    }
    
    #testimonial-section div div:nth-of-type(2) {
    
        display: flex;
        flex-direction: column;
        gap: 0;
        height: 150px;
    
    }
    
    #testimonial-section div div:nth-of-type(2) h4{
    
        margin-bottom: 0;
        color: var(--pastelBlue);
        font-weight: 500;
        font-size: 20px;
    
        
    }
    
    #testimonial-section div div:nth-of-type(2) p{
    
        margin-top: 0;
        color: white;
        font-size: 20px;
    
    }
    
    #our-services {
    
        margin-top: 150px;
        margin-bottom: 150px;
    
    }
    
    #our-services div{
    
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-wrap: nowrap;
        gap: 40px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    
    }
    
    #our-services h2{
    
        font-size: 36px;
        color: #292E47;
        text-align: center;
    
    }
    
    #our-services .service-card{
    
        background-color: white;
        display: inline-block;
        align-items: center;
        height: auto;
        gap: 50px;
        
    }
    
    #our-services h3{
    
        color: #292E47;
        font-size: 24px;
    
    }
    
    #our-services .service-card div:nth-of-type(1) {
    
        height: 120px;
        display: flex;
        
         
    }
    
    #our-services .service-card:nth-child(1) div:nth-of-type(1) div{
    
        background-image: url(/img/services-section/icons/1.svg);
        border-radius: 200px;
        background-size: 50px;
        background-color: #ECF7FF;
        background-repeat: no-repeat;
        width: 75px;
        height: 75px;
        background-position: center;
        margin-left: 30px;
        margin-top: 30px;
         
    }
    
    #our-services .service-card:nth-child(2) div:nth-of-type(1) div{
    
        background-image: url(/img/services-section/icons/2.svg);
        border-radius: 200px;
        background-size: 50px;
        background-color: #ECF7FF;
        background-repeat: no-repeat;
        width: 75px;
        height: 75px;
        background-position: center;
        margin-left: 30px;
        margin-top: 30px;
         
    }
    
    #our-services .service-card:nth-child(3) div:nth-of-type(1) div{
    
        background-image: url(/img/services-section/icons/3.svg);
        border-radius: 200px;
        background-size: 50px;
        background-color: #ECF7FF;
        background-repeat: no-repeat;
        width: 75px;
        height: 75px;
        background-position: center;
        margin-left: 30px;
        margin-top: 30px;
         
    }
    
    #our-services .service-card div:nth-of-type(2) {
    
        display: inline-block; 
    }
    
    #our-services .service-card div:nth-of-type(2) h3{
    
        padding-left: 30px;
        font-size: 24px;
        padding-right: 30px;
       
    }
    
    #our-services .service-card div:nth-of-type(2) p{
    
        padding-left: 30px;
        color: #292E47;
        padding-right: 30px;
       
    }
    
    #our-services .service-card div:nth-of-type(3) a{
    
        color: var(--marineBlue);
        font-weight: bold;
        margin-top: 50px;
     
    }
    
    #our-services .service-card div:nth-of-type(3) a{
    
        padding-left: 30px;
        padding-bottom: 30px;
       
    }
    
    #contact-section {
    
        background-color: var(--mainYellow);
        height: 550px;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    
    }
    
    #contact-section h2 {
    
        color: black;
        font-size: 36px;
        margin-bottom: 0;
    
    }
    
    #contact-section p {
    
        color: black;
        font-size: 20px;
    }
    
    #contact-section form {
    
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    
    #contact-section input {
    
        border-style: none;
        height: 80px;
        width: 390px;
        margin-right: 5px;
        margin-bottom: 40px;
    }
    
    #contact-section input[type=email] {
    
        background-position: 20px 25px;
        background-repeat: no-repeat;
        background-image: url(/img/newsletter/icon/mail.svg);
        padding-left: 60px;
        font-size: 17px;
    
    }
    
    #contact-section button {
    
        background-color: var(--marineBlue);
        color: white;
        border-style: none;
        height: 80px;
        width: 195px;
        margin-left: 5px;
        font-size: 17px;
    
    }
    
    #contact-section button:hover {
    
        background-color: var(--mainGray);
    }
    
    footer {
    
        display: flex;
        justify-content: space-around;
        margin-top: 100px;
        flex-direction: column-reverse;
        align-items: center;
        
    }

    footer div{

        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 30px;

    }

    footer ul{

        padding: 0;
        max-width: 100%;
        width: 100%;

    }
    
    footer ul div{
    
        flex-direction: row;
        max-width: 100%;
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: space-around;
        align-items: center;
        display: flex;
        text-align: center;
        gap: 150px;
    
    }
    
    footer ul li {
    
        color: var(--mainGray);
        font-size: 17px;
        padding: 0;
        margin-bottom: 40px;
        text-align: center;
        margin-right: 0px;


    
    }
    
    footer ul li div{
    
        display: flex;
        flex-direction: column;
    
    }

    footer img{

        width: 100px;
        text-align: center;

    }
    
    
    footer p {
    
        color: var(--mainGray);
        font-size: 17px;
    
    }
    
    footer a:hover {
    
        color: var(--marineBlue);
        font-weight: bold;
    
    }
    
    .main-button{
    
        background-color: var(--marineBlue);
        color:white;
        padding: 20px;
    
    }
    
    .main-button:hover {
    
        background-color: var(--mainYellow);
    
    }

  }































































@media (min-width:860px) and (max-width: 1100px) {
    
    body{

        font-family: "Roboto", sans-serif;
        background-color: #F4F6FC;
        box-sizing: border-box;
        max-width: 1440px;
        text-align: left;
        color: #6B708D;
        padding-left: 50px;
        padding-right: 50px;
        margin: 0 auto;
    
    }
    
    /*DEFINING HEADER GENERIC STYLES*/
    
    header {
    
        height: 700px;
    
    }
    
    /*DEFINING MENU AND NAVIGATION STYLES*/
    
    header nav{
    
        display: flex;
        justify-content: space-between;
        padding-top: 50px;
        right: 50px;
        left: 50px;
        padding-left: 0;
        padding-right: 0;
    
    }
    
    nav ul li{
    
        display: inline-block;
        margin-left: 30px;
        text-decoration: none;
        list-style: none;
        color: var(--mainGray);
    
    }
    
    nav ul li:last-of-type{
    
        margin-right: 0;
    
    }
    
    nav ul li:hover{
    
        color: var(--marineBlue);
        font-weight: bold;
    
    }
    
    /*DEFINING MAIN CONTENT IN HEADER STYLES*/
    

    
    header div div a:first-of-type{ 
        
        margin-right: 50px;
    
    }

    #menu{

        display: block;

    }

    #cta-menu{

        display: block;

    }

    #hamburger-menu-open{

        display: none;

    }

    #hamburger-menu-closed{

        display: none;
    
    }
    
    h1{
    
        font-size: 40px;
        font-weight: 700;
        color: #292E47;
        margin-bottom: 20px;
    
    }
    
    /*DEFINING MAIN HOME CONTENT INSIDE HEADER*/
    
    #home-content {
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 700px;
        background-image: url(/img/hero-section/card-1.png), url(/img/hero-section/card-2.png) , url(/img/hero-section/hero-image.png);
        background-repeat: no-repeat;
        background-size: 200px, 200px, 380px;
        background-position: 60% 30%, 100% 90%, right;
    }
    
    #home-content p{
    
        max-width: 350px;
        font-size: 16px;
    
    }
    
    
    #home-content div {
    
        max-width: 530px;
    
    }
    
    #home-content h1 {
    
        max-width: 350px;
    
    }
    
    /*DEFINING A CONTAINER BOX FOR THE CTA BUTTONS IN THE HEADER*/
    
    
    #home-cta {
    
        display: inline;
        margin-top: 50px;
    
    }
    
    #home-cta a:hover{
    
        color: var(--marineBlue);
        font-weight: bold;
    
    }
    

    /*DEFINING A HORIZONTAL GRID OF CONSECUTIVE IMAGES FROM OUR CLIENTS*/
    
    #clients-bar {
    
        display: flex;
        justify-content: space-between;
        margin-top: 150px;
        margin-bottom: 150px;
        z-index: -200;
    
    }
    
    #clients-bar {
    
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
    
    }
    
    /*DEFINING THE CONTAINER BOX OF OUR RECENT PROJECTS*/
    
    #recent-projects {
    
        margin-top: 150px;
        margin-bottom: 150px;
    
    }
    
    #recent-projects div{
    
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-wrap: nowrap;
        gap: 20px;
    
    }
    
    #recent-projects h2{
    
        font-size: 50px;
        color: #292E47;
    
    }
    
    /*WE DISTRIBUTE THE 3 CARDS OF OUR MAIN PROJECTS USING SPACE AROUND IN THE FLEX CONTAINER*/
    
    
    #recent-projects .project-card{
    
        background-color: white;
        display: inline-block;
        align-items: center;
        height: auto;
        gap: 50px;
        box-shadow: 0px 38,7px 77,5px 0px rgba(0, 0, 0, 0.1);
        
    }
    
    #recent-projects h3{
    
        color: #292E47;
        font-size: 40px;
    
    }
    
    /*WE USE NTH-OF-TYPE TO GO ACROSS EACH DIV WITHOUT CREATING UNNCESSESARY CLASSES OR ID*/
    
    #recent-projects .project-card div:nth-of-type(1) {
    
        background-color: black;
        height: 200px;  
    }
    
    
    #recent-projects .project-card div:nth-of-type(2) {
    
        display: inline-block; 
    }
    
    #recent-projects .project-card div:nth-of-type(2) h3{
    
        padding-left: 30px;
        font-size: 24px;
       
    }
    
    #recent-projects .project-card div:nth-of-type(2) p{
    
        padding-left: 30px;
        color: #292E47;
       
    }
    
    #recent-projects .project-card div:nth-of-type(3) a{
    
        color: var(--marineBlue);
        font-weight: bold;
        margin-top: 50px;
    
        
    }
    
    #recent-projects .project-card div:nth-of-type(3) a{
    
        padding-left: 30px;
        padding-bottom: 30px;
       
    }
    
    /*THIS SECTION NEEDS 5 DIFFERENT BACKGROUNDS, HERE WE SET THEM UP */
    
    #testimonial-section {
    
        background-color: #292E47;
        height: 550px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: url(/img/testimonial-section/memoji-1.png) , url(/img/testimonial-section/memoji-2.png) , url(/img/testimonial-section/memoji-3.png) , url(/img/testimonial-section/memoji-4.png) ,  url(/img/testimonial-section/orbit.png) ;
        background-position: top left, top right, bottom left, bottom right;
        background-repeat: no-repeat;
        background-size: 150px, 150px, 150px , 150px , 100%;
    
    }
    
    /*NOW WE START WORKING OUT THE ELEMENTS INSIDE THE DIV CONTAINER*/
    
    #testimonial-section h2 {
    
        color: white;
        font-size: 40px;
    
    }
    
    #testimonial-section blockquote{
    
        color: var(--mainYellow);
        font-size: 24px;
        font-weight: bold;
        text-align: center;
    
    }
    
    /*HERE WE CREATE A DIV TO CONTAIN THE PROFILE PICTURE TO MAKE IT ROUND EFFECTIVELY*/
    
    #testimonial-section img {
    
        width: 100px;
    
    }
    
    #testimonial-section div {
    
        display: flex;
        flex-direction: row;
        margin-top: 20px;
    
    }
    
    #testimonial-section div div:nth-of-type(1) {
    
        background-image: url(/img/testimonial-section/profile.png);
        background-size: 150px;
        background-position: center;
        border-radius: 100px;
        width: 100px;
        height: 100px;
        margin-right: 25px;
        background-repeat: no-repeat;
    
    }
    
    #testimonial-section div div:nth-of-type(2) {
    
        display: flex;
        flex-direction: column;
        gap: 0;
        height: 150px;
    
    }
    
    #testimonial-section div div:nth-of-type(2) h4{
    
        margin-bottom: 0;
        color: var(--pastelBlue);
        font-weight: 500;
    
        
    }
    
    #testimonial-section div div:nth-of-type(2) p{
    
        margin-top: 0;
        color: white;
    
    }
    
    #our-services {
    
        margin-top: 150px;
        margin-bottom: 150px;
    
    }
    
    #our-services div{
    
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-wrap: nowrap;
        gap: 40px;
    
    }
    
    #our-services h2{
    
        font-size: 50px;
        color: #292E47;
    
    }
    
    #our-services .service-card{
    
        background-color: white;
        display: inline-block;
        align-items: center;
        height: auto;
        gap: 50px;
        
    }
    
    #our-services h3{
    
        color: #292E47;
        font-size: 24px;
    
    }
    
    #our-services .service-card div:nth-of-type(1) {
    
        height: 120px;
        display: flex;
        
         
    }
    
    #our-services .service-card:nth-child(1) div:nth-of-type(1) div{
    
        background-image: url(/img/services-section/icons/1.svg);
        border-radius: 200px;
        background-size: 50px;
        background-color: #ECF7FF;
        background-repeat: no-repeat;
        width: 75px;
        height: 75px;
        background-position: center;
        margin-left: 30px;
        margin-top: 30px;
         
    }
    
    #our-services .service-card:nth-child(2) div:nth-of-type(1) div{
    
        background-image: url(/img/services-section/icons/2.svg);
        border-radius: 200px;
        background-size: 50px;
        background-color: #ECF7FF;
        background-repeat: no-repeat;
        width: 75px;
        height: 75px;
        background-position: center;
        margin-left: 30px;
        margin-top: 30px;
         
    }
    
    #our-services .service-card:nth-child(3) div:nth-of-type(1) div{
    
        background-image: url(/img/services-section/icons/3.svg);
        border-radius: 200px;
        background-size: 50px;
        background-color: #ECF7FF;
        background-repeat: no-repeat;
        width: 75px;
        height: 75px;
        background-position: center;
        margin-left: 30px;
        margin-top: 30px;
         
    }
    
    #our-services .service-card div:nth-of-type(2) {
    
        display: inline-block; 
    }
    
    #our-services .service-card div:nth-of-type(2) h3{
    
        padding-left: 30px;
        font-size: 24px;
        padding-right: 30px;
       
    }
    
    #our-services .service-card div:nth-of-type(2) p{
    
        padding-left: 30px;
        color: #292E47;
        padding-right: 30px;
       
    }
    
    #our-services .service-card div:nth-of-type(3) a{
    
        color: var(--marineBlue);
        font-weight: bold;
        margin-top: 50px;
     
    }
    
    #our-services .service-card div:nth-of-type(3) a{
    
        padding-left: 30px;
        padding-bottom: 30px;
       
    }
    
    #contact-section {
    
        background-color: var(--mainYellow);
        height: 550px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    
    }
    
    #contact-section h2 {
    
        color: black;
        font-size: 40px;
        margin-bottom: 0;
    
    }
    
    #contact-section p {
    
        color: black;
        font-size: 20px;
    }
    
    #contact-section form {
    
        margin-top: 20px;
    
    }
    
    #contact-section input {
    
        border-style: none;
        height: 80px;
        width: 390px;
        margin-right: 5px;
    }
    
    #contact-section input[type=email] {
    
        background-position: 20px 25px;
        background-repeat: no-repeat;
        background-image: url(/img/newsletter/icon/mail.svg);
        padding-left: 60px;
        font-size: 17px;
    
    }
    
    #contact-section button {
    
        background-color: var(--marineBlue);
        color: white;
        border-style: none;
        height: 80px;
        width: 195px;
        margin-left: 5px;
        font-size: 17px;
    
    }
    
    #contact-section button:hover {
    
        background-color: var(--mainGray);
    }
    
    footer {
    
        display: flex;
        justify-content: space-between;
        margin-top: 150px;
        
    }
    
    footer ul {
    
        list-style: none;
        max-width: 400px;
        text-align: left;
    
    }
    
    footer ul li {
    
        color: var(--mainGray);
        font-size: 17px;
        display: inline-block;
        margin-right: 50px;
        margin-bottom: 50px;
    
    }
    
    footer ul li div{
    
        display: flex;
        flex-direction: column;
    
    }
    
    
    footer p {
    
        color: var(--mainGray);
        font-size: 17px;
    
    }
    
    footer a:hover {
    
        color: var(--marineBlue);
        font-weight: bold;
    
    }
    
    .main-button{
    
        background-color: var(--marineBlue);
        color:white;
        padding: 20px;
    
    }
    
    .main-button:hover {
    
        background-color: var(--mainYellow);
        color: var(--marineBlue);
    
    }
    


  }








